.logform{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:10px;
    width:700px;
}
.loglabel{
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
    align-items:left;
    gap: 10px;
    font-size:18px;
}
.loginput{
    width:250px;
    height:30px;
    border-radius: 8px;
    font-size:14px;
}

.logbutton{
    width:120px;
    height:30px;
    border-radius: 8px;
    background-color:rgb(12, 215, 12);
    font-size:16px;

}

.logdiv{
    align-items:center;
    display:flex;
    flex-direction:column;
}
.regh1{
    font-weight:bold;
    width:100%;
    text-align:center;
    font-size:2rem;
}